body{
    background:url(templates/img/back.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.panel-heading{
    text-align: center;
    font-size:3em;
}