<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录MyWeibo</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/myCss.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><strong>MyWeibo</strong></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">微博主页</a></li>
                <li><a href="#">个人中心</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        相关链接
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/pkumod/gStore">gStore链接</a></li>
                        <li><a href="https://www.weibo.com/login.php/">微博链接</a></li>
                        <li><a href="https://mod.icst.pku.edu.cn/">PKUMOD实验室</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>